<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysFactoryMapper">
    
    <resultMap type="SysFactory" id="SysFactoryResult">
        <result property="id"    column="id"    />
        <result property="centerNumber"    column="center_number"    />
        <result property="comment"    column="comment"    />
    </resultMap>

    <sql id="selectSysFactoryVo">
        select id, center_number, comment from sys_factory
    </sql>

    <select id="selectSysFactoryList" parameterType="SysFactory" resultMap="SysFactoryResult">
        <include refid="selectSysFactoryVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="centerNumber != null "> and center_number >= #{centerNumber}</if>
            <if test="comment != null  and comment != ''"> and comment like concat('%', #{comment}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysFactoryById" parameterType="Long" resultMap="SysFactoryResult">
        <include refid="selectSysFactoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysFactory" parameterType="SysFactory" useGeneratedKeys="true" keyProperty="id">
        insert into sys_factory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="centerNumber != null">center_number,</if>
            <if test="comment != null">comment,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="centerNumber != null">#{centerNumber},</if>
            <if test="comment != null">#{comment},</if>
         </trim>
    </insert>

    <update id="updateSysFactory" parameterType="SysFactory">
        update sys_factory
        <trim prefix="SET" suffixOverrides=",">
            <if test="centerNumber != null">center_number = #{centerNumber},</if>
            <if test="comment != null">comment = #{comment},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysFactoryById" parameterType="Long">
        delete from sys_factory where id = #{id}
    </delete>

    <delete id="deleteSysFactoryByIds" parameterType="String">
        delete from sys_factory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>